
#head{
    background-color: #f5ab36; 
    
}


header h1,h2
{
    text-align: center;
    color: #E22149;
}

header #logo
{
    position: absolute;
    top:10px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

