
header{
    background-color: blue;
    
}
#en-tete{
    background-color: red;
    height: 100px;
}

h1,h2
{
    text-align: center;
}

header #logo
{
    position: absolute;
    left:50px;
    margin-top:10px;
    width: 80px;
    height: 80px;
}

